<h1>Codeial <%=title%></h1>
<p>NAME:<%=user.name%></p>
<p>EMAIL:<%=user.email%></p>
<form action="/users/delete-Session" method="POST">
    <button type="submit" value="Logout">LOGOUT</button>
</form>