<h1>Sign in</h1>
<form action="/users/create-session" method="POST">
    <label for="email">E-MAIL</label>
    <input type="email" name="email" id="email" placeholder="Enter your email" autocomplete="On" required>
    <label for="password">PASSWORD</label>
    <input type="password" name="password" id="password" placeholder="Enter your password" autocomplete="On" required>
    <button type="submit" value="Sign In">Login</button>
</form>